assets/ETWStandard.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.5 git-revision#7ddc91f. -->
<!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.5 git-revision#7ddc91f. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.standard.webservice.ecotransit.ivembh.de/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.standard.webservice.ecotransit.ivembh.de/" name="ETWStandardService">
    <import namespace="http://www.ecotransit.org/XMLSchema/ecotransit_world/2012" location="https://nctest.ecotransit.org:443/ETWStandard?wsdl=1" />
    <binding xmlns:ns1="http://www.ecotransit.org/XMLSchema/ecotransit_world/2012" name="ETWStandardPortBinding" type="ns1:ETWWebservice">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="calculateSimpleTransport">
            <soap:operation soapAction="calculateSimpleTransport" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="calculateComplexTransport">
            <soap:operation soapAction="calculateComplexTransport" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="calculateRouteTransport">
            <soap:operation soapAction="calculateRouteTransport" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="calculateFlightNoTransport">
            <soap:operation soapAction="calculateFlightNoTransport" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="findTransferPoints">
            <soap:operation soapAction="findTransferPoints" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="getListLocations">
            <soap:operation soapAction="getListLocations" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="getListVehicles">
            <soap:operation soapAction="getListVehicles" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="calculateEasyTransport">
            <soap:operation soapAction="calculateEasyTransport" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="calculateCompareTransport">
            <soap:operation soapAction="calculateCompareTransport" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="calculateDistribution">
            <soap:operation soapAction="calculateDistribution" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="uploadAliasMap">
            <soap:operation soapAction="uploadAliasMap" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="cleanUpCache">
            <soap:operation soapAction="cleanUpCache" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="getVersion">
            <soap:operation soapAction="getVersion" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <service name="ETWStandardService">
        <port name="ETWStandardPort" binding="tns:ETWStandardPortBinding">
            <soap:address location="https://nctest.ecotransit.org443/ETWStandard" />
        </port>
    </service>
</definitions>