assets/ETWStandard.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<definitions xmlns:tns="http://www.ecotransit.org/XMLSchema/ecotransit_world/2012" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.ecotransit.org/XMLSchema/ecotransit_world/2012">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://www.ecotransit.org/XMLSchema/standard/2012" schemaLocation="https://nctest.ecotransit.org:443/ETWStandard?xsd=1" />
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.ecotransit.org/XMLSchema/ecotransit_world/2012" schemaLocation="https://nctest.ecotransit.org:443/ETWStandard?xsd=2" />
        </xsd:schema>
    </types>
    <message name="getListLocations">
        <part name="parameter" element="tns:getListLocationsRequest" />
    </message>
    <message name="getListLocationsResponse">
        <part name="parameter" element="tns:getListLocationsResponse" />
    </message>
    <message name="getListVehicles">
        <part name="parameter" element="tns:getListVehiclesRequest" />
    </message>
    <message name="getListVehiclesResponse">
        <part name="parameter" element="tns:getListVehiclesResponse" />
    </message>
    <message name="calculateEasyTransport">
        <part name="parameter" element="tns:calculateEasyTransportRequest" />
    </message>
    <message name="calculateEasyTransportResponse">
        <part name="parameter" element="tns:calculationResponse" />
    </message>
    <message name="calculateCompareTransport">
        <part name="parameter" element="tns:calculateCompareTransportRequest" />
    </message>
    <message name="calculateCompareTransportResponse">
        <part name="parameter" element="tns:calculationResponse" />
    </message>
    <message name="calculateDistribution">
        <part name="parameter" element="tns:calculateDistributionRequest" />
    </message>
    <message name="calculateDistributionResponse">
        <part name="parameter" element="tns:distributionResponse" />
    </message>
    <message name="uploadAliasMap">
        <part name="parameter" element="tns:uploadAliasMapRequest" />
    </message>
    <message name="uploadAliasMapResponse">
        <part name="parameter" element="tns:uploadAliasMapResponse" />
    </message>
    <message name="cleanUpCache">
        <part name="parameter" element="tns:cleanUpCacheRequest" />
    </message>
    <message name="cleanUpCacheResponse">
        <part name="parameter" element="tns:cleanUpCacheResponse" />
    </message>
    <message name="calculateSimpleTransport">
        <part name="parameter" element="tns:calculateSimpleTransportRequest" />
    </message>
    <message name="calculateSimpleTransportResponse">
        <part name="parameter" element="tns:calculationResponse" />
    </message>
    <message name="calculateComplexTransport">
        <part name="parameter" element="tns:calculateComplexTransportRequest" />
    </message>
    <message name="calculateComplexTransportResponse">
        <part name="parameter" element="tns:calculationResponse" />
    </message>
    <message name="calculateFlightNoTransport">
        <part name="parameter" element="tns:calculateFlightNoTransportRequest" />
    </message>
    <message name="calculateFlightNoTransportResponse">
        <part name="parameter" element="tns:calculationResponse" />
    </message>
    <message name="findTransferPoints">
        <part name="parameter" element="tns:findTransferPointsRequest" />
    </message>
    <message name="findTransferPointsResponse">
        <part name="parameter" element="tns:findTransferPointsResponse" />
    </message>
    <message name="getVersion">
        <part name="parameter" element="tns:getVersionRequest" />
    </message>
    <message name="getVersionResponse">
        <part name="parameter" element="tns:getVersionResponse" />
    </message>
    <portType name="ETWWebservice">
        <operation name="getListLocations">
            <input message="tns:getListLocations" />
            <output message="tns:getListLocationsResponse" />
        </operation>
        <operation name="getListVehicles">
            <input message="tns:getListVehicles" />
            <output message="tns:getListVehiclesResponse" />
        </operation>
        <operation name="calculateEasyTransport">
            <input message="tns:calculateEasyTransport" />
            <output message="tns:calculateEasyTransportResponse" />
        </operation>
        <operation name="calculateCompareTransport">
            <input message="tns:calculateCompareTransport" />
            <output message="tns:calculateCompareTransportResponse" />
        </operation>
        <operation name="calculateDistribution">
            <input message="tns:calculateDistribution" />
            <output message="tns:calculateDistributionResponse" />
        </operation>
        <operation name="uploadAliasMap">
            <input message="tns:uploadAliasMap" />
            <output message="tns:uploadAliasMapResponse" />
        </operation>
        <operation name="cleanUpCache">
            <input message="tns:cleanUpCache" />
            <output message="tns:cleanUpCacheResponse" />
        </operation>
        <operation name="calculateSimpleTransport">
            <input message="tns:calculateSimpleTransport" />
            <output message="tns:calculateSimpleTransportResponse" />
        </operation>
        <operation name="calculateComplexTransport">
            <input message="tns:calculateComplexTransport" />
            <output message="tns:calculateComplexTransportResponse" />
        </operation>
        <operation name="calculateFlightNoTransport">
            <input message="tns:calculateFlightNoTransport" />
            <output message="tns:calculateFlightNoTransportResponse" />
        </operation>
        <operation name="findTransferPoints">
            <input message="tns:findTransferPoints" />
            <output message="tns:findTransferPointsResponse" />
        </operation>
        <operation name="getVersion">
            <input message="tns:getVersion" />
            <output message="tns:getVersionResponse" />
        </operation>
    </portType>
</definitions>